.podcast-card {
    margin: 1em;
    width: 180px !important;
    text-overflow: wrap;
    text-align: start;

    .pcc-img {
        height: 200px;
        img {
            max-width: 180px;
            padding: 0;
        }
    }

    .pcc-title {
        font-size: 14px;
    }

    .pcc-description {
        font-size: 12px;
    }
}
